 	body{
     	background-color:#f9f9f9;
     }
     header{
     	color:black;
         text-align:left;
         font-size:15pt;
         padding-top : 0px;
         font-family: 'Roboto', sans-serif;
         text-shadow: 2px 2px #d3d1d1;
         margin-left:75px;

     }
     form{
     text-align:center;
     }
     input[type=submit] {
         background-color: #28c1ef;
         color: white;
         padding: 7px 7px;
         margin-top:10px;
         border: none;
         border-radius: 4px;
         cursor: pointer;
         float: center;
         width:250px;

     }
     input[type=text]{
     width: 250;
     padding: 7px;
     margin-top:7px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
     float:center;

 }
  #register{
  	background-color:white;
     margin-top: 10%;
     margin-left:20%;
     margin-right:20%;
     border: 1px solid #ccc;
     margin-bottom:20px;

  }

  p {
  text-align:center;
  color:#bcbcbc;
  }